.hide {
    display: none;
}
/* Header style */
.wrap {
display: flex;
justify-content: space-between;
}

    .row {
        display: flex;
        flex-direction: row;
        margin-left: 20%;
        
    }
    #choices {
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: flex-start;
    }
    #feedback {
        /* text-align: center; */
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        border-top: solid grey;
        /* width: 20%; */
        /* padding: 10px 0; */
        margin: 15px 20%;
        font-size: 30px;
        opacity: 50%;
    }
    div#choices button {
        width: 30%;
        display: flex;
    }

